$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-check: "\e90c";
$icon-arrow_r: "\e90b";
$icon-close: "\e90a";
$icon-consult: "\e909";
$icon-chat: "\e900";
$icon-chevron_d: "\e901";
$icon-chevron_l: "\e902";
$icon-chevron_r: "\e903";
$icon-cloud: "\e904";
$icon-code: "\e905";
$icon-mail: "\e906";
$icon-user: "\e907";
$icon-web: "\e908";

