//
// Buttons
// --------------------------------------------------
.btn {
  border: none;
  color: #fff;
  transition: 0.2s ease-in-out;
  font-family: $font-family-base;
  font-size: $font-size-base;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  white-space: nowrap;
  transform-origin: bottom;
  border-radius: 6px;

  &-size_50 {
    height: 50px;
    padding: 0 24px;
  }

  &-orange {
    color: #fff;
    background: #ff6d43;

    &:hover {
      background: #ff7953;
    }

    &:active {
      background: #ff6639;
    }

    &:focus,
    &.focus {
      background: #ff7953;
      box-shadow: 0 0 0 4px #9bcffd;
    }

    &.loading {
      background: #ff7953;
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: no-drop;
    background: #ababab;
  }
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

// Alternate buttons
// --------------------------------------------------.

// Block button
// --------------------------------------------------
.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 0.5rem;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
