//
// Forms
// --------------------------------------------------

.input {
  font-family: $font-family-base;
  display: block;
  width: 100%;
  background: #f8f8f8;
  border-radius: 5px;
  border: 2px solid transparent;
  letter-spacing: -.025em;

  &.is-invalid {
    border: 2px solid #f52c44 !important;

    ~ .form-cell__icon {
      color: #f52c44 !important;
    }
  }

  &-size_50 {
    font-size: 16px;
    height: 50px;
    padding: 11px 23px;

    &.__icon {
      padding-left: 54px;
    }

    @at-root textarea#{&} {
      height: 110px;
      max-width: 100%;
      min-width: 100%;
      min-height: 50px;
      max-height: 400px;
    }
  }

  &:not(:placeholder-shown),
  &:focus,
  &:hover {

    ~ .form-cell__icon {
      color: #000;
    }
  }

  &.not-empty,
  &:focus {


    ~ label {
      margin-top: -12px;
    }
  }
}

.form {
  &-cell {
    position: relative;

    &__icon {
      pointer-events: none;
      left: 22px;
      font-size: 22px;
      line-height: 1;
      color: rgba(0, 0, 0, .5);
      transition: color .3s;
    }

    &__label {
      left: 54px;
      transition: margin .3s, font-size .3s;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.35px;
      color: #111;
      opacity: 0.5;
    }

    &__icon,
    &__label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.just-validate-error-label {
  display: none !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $gray_placeholder;
  font-family: $font-family-base;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $gray_placeholder;
  font-family: $font-family-base;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: $gray_placeholder;
  font-family: $font-family-base;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $gray_placeholder;
  font-family: $font-family-base;
}
