//
// Forms
// --------------------------------------------------

.input {
  display: block;
  background: #F8F8F8;
  border-radius: 5px;
  border: 0;

  &-size_50 {
    font-size: 16px;
    height: 50px;
    padding: 0 24px;
  }

  &.not-empty,
  &:focus {



    ~ label {
      margin-top: -12px;
    }
  }
}

.form {
  &-cell {
    position: relative;

    &__icon {
      left: 22px;
    }

    &__label {
      left: 54px;
      transition: margin .3s, font-size .3s;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.35px;
      color: #111;
      opacity: 0.5;
    }

    &__icon,
    &__label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      + .input {
        padding-left: 54px;
      }
    }
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $gray_placeholder;
  font-family: $font-family-base;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $gray_placeholder;
  font-family: $font-family-base;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: $gray_placeholder;
  font-family: $font-family-base;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $gray_placeholder;
  font-family: $font-family-base;
}
