//
// Header
// --------------------------------------------------

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #fff;

  .__scroll & {
    background: #fcfcfc;
    border-bottom: 1px solid #eee;
  }
}

.header {
  transition: padding .2s;
  padding: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  @include respond-to-max($screen-lg) {
    margin: 0 -6px;
  }

  @include respond-to-min($screen-sm) {
    > .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include respond-to-min($screen-lg) {
    .__scroll & {
      padding: 15px 0;

    }

    > .logo {
      position: relative;
      left: auto;
      transform: none;
    }
  }
}

.logo {
  font-family: 'Craftwork Sans', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  //letter-spacing: -0.475022px;
  letter-spacing: -0.04em;
  color: #111;
  display: flex;
  align-items: center;
  transition: color .3s;

  @include respond-to-min($screen-lg) {
    margin-right: auto;
  }

  &-text {
    position: relative;
    z-index: 1;
  }

  &-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 3em;
    height: 3em;
    margin: -10px 5px;
    position: relative;

    span {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      background: #ff6d43;
      width: 3em;
      height: 3em;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: width .3s, height .3s;
      transform-origin: 50% 50%;
    }
  }

  &:hover {
    color: #fff;

    .logo-circle {
      &::before {
        width: 11em;
        height: 11em;
      }
    }
  }
}

.nav {

  &-link {
    transition: color .3s;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #111;

    &:hover {
      color: #ff6d43;
    }

    .__active & {
      cursor: default;
      color: $gray;
    }

    .header & {
      @include respond-to-max($screen-lg) {
        font-size: 21px;
        line-height: 26px;
        letter-spacing: -0.04em;
        width: 100%;
        padding: 10px;
        display: block;
      }

      @include respond-to-max($screen-sm) {
        padding: 22px 10px;
      }
    }
  }

  &-head {
    .logo {
      font-size: 24px;
      line-height: 29px;
      margin-right: 10px;

      @include respond-to-min($screen-sm) {
        font-size: 30px;
        line-height: 36px;
      }
    }

    @include respond-to-min($screen-lg) {
      display: none;
    }
  }

  &-foot {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 664px;
    margin: 0 auto;

    .btn {
      width: 100%;
    }

    &__copyright {
      padding: 36px 0 30px;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: #111;
      opacity: .5;

      @include respond-to-min($screen-sm) {
        padding: 64px 0 48px;
      }
    }

    @include respond-to-max($screen-sm) {
      width: 354px;
      max-width: 100%;
    }

    @include respond-to-min($screen-lg) {
      display: none;
    }
  }

  &-list {
    list-style: none;
    padding: 0;

    @include respond-to-min($screen-lg) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      li {
        transition: opacity .3s;
        padding: 0 16px;
        margin-left: 1px;
      }
    }
  }

  .header & {
    @include respond-to-max($screen-lg) {
      transition: transform .3s;
      transform: translateX(-100%);
      overflow-y: auto;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100vw;
      z-index: 11;
      background: #fff;
      padding-top: 105px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;

      &-list {
        text-align: center;
        margin-bottom: auto;
        padding: 35px 0;
        width: 100%;

        li {
          margin-top: 28px;
        }
      }

      .__open-menu & {
        transform: translateX(0);
      }
    }

    @include respond-to-max($screen-sm) {
      &-list {

        li {
          margin-top: 20px;
        }
      }
    }
  }
}

.burger {
  @include burger();
  width: 36px;
  height: 36px;
  margin-right: 20px;

  .__open-menu & {
    @include burger_open();

    span {
      &:nth-of-type(1),
      &:nth-of-type(3) {
        margin-left: 2px;
      }
    }
  }

  @include respond-to-min($screen-lg) {
    display: none;
  }
}

.lang {
  &-block {
    position: relative;
    height: 54px;
    margin: -10px 0 -10px 10px;

    @include respond-to-min($screen-sm) {
      margin-left: 10px;
      margin-right: -24px;
    }

    @include respond-to-min($screen-lg) {
      margin-right: 0;
      margin-left: 30px;
    }

    &:hover {
      @include respond-to-min($screen-lg) {

        .lang-dropdown {
          pointer-events: all;
          background: #f8f8f8;
          border: 1px solid #eee;
        }

        .lang-label {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  &-dropdown {
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    pointer-events: none;
    border: 1px solid transparent;

    @include respond-to-max($screen-sm) {
      margin-right: -10px;
    }
  }

  &-icon {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 10px;
    margin-top: -5px;

    @include respond-to-max($screen-sm) {
      right: -5px;
    }
  }

  &-label {
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #111;
    padding: 16px 50px 16px 60px;
    height: 54px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: inherit;
    transition: background-color .3s;

    &:not(.__active) {
      &:hover {
        background: #e9e6e6;
      }
    }

    img {
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.__active {
      opacity: 1;
      order: -1;
      font-weight: 600;
    }

    @include respond-to-max($screen-sm) {
      padding-right: 0;

      img {
        left: 10px;
      }

      span {
        display: none;
      }
    }
  }
}
