//
// Portfolio
// --------------------------------------------------

.portfolio {
  padding: 62px 0 48px;
  position: relative;

  &-title {
    @extend %section_title;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
    text-align: center;
  }

  &-content {
    @include respond-to-min($screen-lg + 100px) {
      margin: 0 -90px;
    }
  }

  &-item {
    border-radius: 8px;
    padding: 32px 24px 0;
    margin-bottom: 20px;
    overflow: hidden;

    @include respond-to-max($screen-lg) {
      &.__gray {
        background: #f2f3f5;
      }
      &.__pink {
        background: #fff0f0;
      }
      &.__yellow {
        background: #f9f3e8;
      }
    }

    @include respond-to-min($screen-sm) {
      padding: 42px 30px 0;
    }

    @include respond-to-min($screen-lg) {
      margin-bottom: 16px;

      &.__gray {
        .portfolio-item__preview {
          background: #f2f3f5;
        }
      }
      &.__pink {
        .portfolio-item__preview {
          background: #fff0f0;
        }
      }
      &.__yellow {
        .portfolio-item__preview {
          background: #f9f3e8;
        }
      }
    }

    &__preview {

      img {
        display: block;
        max-width: 100%;
        min-height: 100%;
      }

      &.__mobile {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 48%;
        max-height: 120%;

        @include respond-to-min($screen-sm) {
          max-height: 110%;
        }
      }

      &:first-child {
        @include respond-to-min($screen-sm) {
          position: absolute;
          top: 0;
          left: 0;
          width: 560px;
          height: 100%;
        }

        @include respond-to-min($screen-lg) {
          position: relative;
          height: 360px;
          width: 100%;

          img {
            width: 100%;
          }
        }
      }

      @include respond-to-min($screen-lg) {
        border-radius: 8px;
        overflow: hidden;
      }
    }

    &__caption {
      @extend %item_title;

      @include respond-to-min($screen-sm) {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 12px;
      }

      @include respond-to-min($screen-lg) {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 16px;
      }
    }

    &__info {
      @include respond-to-min($screen-sm) {
        padding-bottom: 22px;
      }

      @include respond-to-min($screen-lg) {
        padding-bottom: 0;
      }
    }

    &__wrapper {
      position: relative;
      margin: 0 -24px;

      @include respond-to-min($screen-sm) {
        margin-left: -12px;
        margin-right: -30px;
        margin-top: -25px;
      }

      @include respond-to-min($screen-lg) {
        margin: -20px 30px 0;
      }
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.04em;
      color: rgba(0, 0, 0, .5);
      margin-bottom: 24px;

      @include respond-to-min($screen-sm) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
      }

      @include respond-to-min($screen-lg) {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 28px;
      }
    }

    &__tags {
      list-style: none;
      padding-left: 0;
      display: inline-flex;
      flex-flow: row wrap;
      padding-top: 14px;
      padding-bottom: 10px;
      margin: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      li {
        font-size: 14px;
        line-height: 15px;
        display: flex;
        align-items: center;
        letter-spacing: -0.2px;
        color: #111;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        padding: 8px 12px;
        margin-left: 8px;
        margin-bottom: 8px;

        &:first-child {
          margin-left: 0;
        }
      }

      @include respond-to-min($screen-lg) {
        padding-top: 24px;
      }
    }

    @include respond-to-min($screen-sm) {
      display: grid;
      grid-template-columns: 306px auto;
    }

    @include respond-to-min($screen-lg) {
      grid-template-columns: 410px auto;
      align-items: center;
    }
  }

  @include respond-to-min($screen-sm) {
    padding: 80px 0 60px;
  }

  @include respond-to-min($screen-lg) {
    padding: 100px 0;
  }
}
