//
// Service
// --------------------------------------------------
@import '../../node_modules/swiper/swiper';

.service {
  padding: 48px 0;
  position: relative;

  @include respond-to-max($screen-sm) {
    text-align: center;
  }

  &::before {
    content: '';
    position: absolute;
    background: #f8f8f8;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    z-index: -1;
  }

  &-title {
    @extend %section_title;
    margin-bottom: 30px;
    letter-spacing: -.02em;
  }

  &-contact {

    &__text {
      font-size: 16px;
      line-height: 21px;
      letter-spacing: -0.35px;
      color: #7d7f8e;

      @include respond-to-max($screen-sm) {
        margin-bottom: 16px;
      }

      @include respond-to-min($screen-sm) {
        margin-bottom: 12px;
      }
    }

    @include respond-to-max($screen-sm) {
      .btn {
        width: 100%;
      }
    }

    @include respond-to-min($screen-sm) {
      grid-column: 2;
      text-align: right;
    }

    @include respond-to-min($screen-lg) {
      display: flex;
      flex-flow: row nowrap;
      padding-top: 25px;

      .form-cell {
        padding-left: 24px;
        padding-top: 5px;
      }
    }
  }

  &-content {
    margin: 10px 0 36px;

    @include respond-to-max($screen-sm) {
      overflow: visible;
    }

    @include respond-to-min($screen-sm) {
      margin: 10px -6px;
      grid-column: 1/3;
      order: 1;
    }

    @include respond-to-min($screen-lg) {
      margin: 10px -15px;
    }
  }

  &-item {
    background: #fff;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    padding: 35px 32px;
    height: 100%;
    text-align: left;

    @include respond-to-min($screen-sm) {
      padding: 41px 20px;
    }

    @include respond-to-min($screen-lg) {
      padding: 50px 32px;
    }

    &__icon {
      margin-bottom: 22px;

      img {

      }
    }

    &__caption {
      font-family: 'Craftwork Grotesk', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.04em;
      color: #111;
      margin-bottom: 8px;

      @include respond-to-min($screen-sm) {
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 12px;
      }

      @include respond-to-min($screen-lg) {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 16px;
      }

    }

    &__description {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: -0.04em;
      color: rgba(0, 0, 0, .5);
      margin-bottom: 24px;

      @include respond-to-min($screen-sm) {
        font-size: 14px;
        line-height: 21px;
      }

      @include respond-to-min($screen-lg) {
        font-size: 18px;
        line-height: 28px;
      }
    }

    &__footer {
      height: 50px;
      margin-top: auto;

      @include respond-to-min($screen-sm) {
        height: 80px;
      }
    }
  }

  &-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    height: 48px;
    min-width: 48px;
    font-size: 16px;
    color: #fff;
    background: #111;
    position: relative;

    @include respond-to-min($screen-sm) {
      border-radius: 33px;
      height: 66px;
      min-width: 66px;
    }
  }

  &-slider {

    @include respond-to-min($screen-sm) {
      display: flex;
      flex-flow: row wrap;
    }

    .swiper-slide {
      height: auto;
      padding: 0 8px;

      @include respond-to-min($screen-sm) {
        padding: 0 6px;
        flex: 1 0 33.33%;
      }

      @include respond-to-min($screen-lg) {
        padding: 0 15px;
      }
    }
  }

  @include respond-to-min($screen-sm) {
    padding: 72px 0;
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-column-gap: 30px;
    grid-template-areas: 'title btn';
  }

  @include respond-to-min($screen-lg) {
    padding: 80px 30px 80px 0;
    grid-column-gap: 50px;
  }
}
