//
// Team
// --------------------------------------------------

.team {
  padding: 62px 0 48px;
  position: relative;

  &-title {
    @extend %section_title;
    letter-spacing: -0.05em;
    margin-bottom: 15px;
  }

  &-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 20px;
  }

  &-tip {
    max-width: 700px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, .5);
    margin-bottom: 32px;

    @include respond-to-max($screen-sm) {

    }

    @include respond-to-min($screen-lg) {
      font-size: 21px;
      line-height: 32px;
      margin-bottom: 48px;
    }
  }

  &-content {
    position: relative;
    padding-right: 84px;

    &__btn {
      position: absolute;
      top: 140px;
      font-size: 20px;
      cursor: pointer;
      z-index: 1;
      margin: 0 60px 0 30px;
      opacity: .25;
      transition: opacity .3s;

      &::before {
        content: '';
        position: absolute;
        top: -20px;
        bottom: -20px;
        left: -20px;
        right: -20px;
      }

      &:hover {
        opacity: 1;
      }

      &.swiper-button-prev {
        right: 100%;
      }

      &.swiper-button-next {
        left: 100%;
      }
    }

    @include respond-to-min($screen-sm) {
      padding-right: 212px;
    }

    @include respond-to-min($screen-lg) {
      padding-right: 30px;
    }
  }

  &-slider {
    opacity: 0;
    transition: opacity .3s;

    &.swiper-initialized {
      opacity: 1;
    }

    @include respond-to-min($screen-lg) {
      overflow: hidden;
    }
  }

  &-member {
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;

    &__photo {
      margin-bottom: 20px;
      border-radius: 8px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
      }

      @include respond-to-min($screen-lg) {
        margin-bottom: 25px;
      }
    }

    &__card {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;

      @include respond-to-max($screen-sm) {
        display: grid;
        grid-template-columns: 120px auto;
        justify-content: flex-start;
      }

      @include respond-to-min($screen-sm) {
        margin-bottom: 24px;
      }

      @include respond-to-min($screen-lg) {
        margin-bottom: 64px;
      }
    }

    &__title {
      font-family: 'Craftwork Grotesk', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.02em;
      color: #111;
      margin-bottom: 8px;

      @include respond-to-min($screen-sm) {

      }

      @include respond-to-min($screen-lg) {
        font-size: 36px;
        line-height: 43px;
        font-weight: 900;
      }
    }

    &__dev {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.04em;
      color: #111;
      margin-bottom: 2px;

      @include respond-to-min($screen-sm) {

      }

      @include respond-to-min($screen-lg) {
        font-size: 21px;
        line-height: 29px;
        margin-bottom: 8px;
      }
    }

    &__location {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.02em;
      color: rgba(0, 0, 0, .5);
      margin-bottom: 2px;

      @include respond-to-min($screen-sm) {

      }

      @include respond-to-min($screen-lg) {
        font-size: 18px;
        line-height: 18px;
      }
    }

    &__birth {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.02em;
      color: rgba(0, 0, 0, .5);

      @include respond-to-max($screen-sm) {
        grid-column-start: 2;
      }

      @include respond-to-min($screen-lg) {
        margin-top: -10px;
      }
    }

    &__info {
      flex: 1 0 auto;
    }

    &__data {
      border-top: 1px solid rgba(17, 17, 17, .1);
      padding-top: 24px;
      padding-bottom: 24px;

      @include respond-to-max($screen-sm) {
        &:last-child {
          padding-bottom: 0;
        }
      }

      @include respond-to-min($screen-sm) {
        padding-top: 32px;
        padding-bottom: 32px;
      }

      @include respond-to-min($screen-lg) {
        padding-top: 26px;
        padding-bottom: 26px;
      }
    }

    &__caption {
      font-family: 'Craftwork Grotesk', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
      letter-spacing: -0.02em;
      color: #111;
      margin-bottom: 24px;

      @include respond-to-min($screen-sm) {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 30px;
      }

      @include respond-to-min($screen-lg) {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 42px;
      }
    }

    &__period {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.02em;
      color: rgba(17, 17, 17, .5);

      @include respond-to-max($screen-lg) {
        position: absolute;
        top: 3px;
        right: -6px;
      }

      @include respond-to-min($screen-lg) {
        font-size: 14px;
        line-height: 18px;
      }
    }

    &__experience {
      position: relative;

      @include respond-to-min($screen-lg) {
        display: grid;
        grid-template-columns: 146px auto;
      }
    }

    &__responsibility {
      padding-bottom: 15px;

      p {
        margin-bottom: 11px;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.02em;

        .team-member__experience & {
          padding-left: 24px;
          margin-top: 8px;
        }
      }

      @include respond-to-min($screen-lg) {
        padding-bottom: 25px;

        p {
          font-size: 16px;

          .team-member__experience & {
            line-height: 24px;
            margin-top: 12px;
          }
        }
      }
    }

    &__label {
      font-family: 'Craftwork Grotesk', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: -0.02em;
      margin-bottom: 12px;
      padding-right: 120px;

      @include respond-to-min($screen-sm) {
        font-size: 18px;
      }

      @include respond-to-min($screen-lg) {
        padding-left: 24px;
        letter-spacing: 0;
      }
    }

    &__list {
      list-style: none;
      padding: 0;

      li {
        position: relative;
        padding-left: 14px;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        margin-bottom: 3px;

        &::before {
          content: '';
          position: absolute;
          border-radius: 100%;
          background: #111;
          width: 6px;
          height: 6px;
          left: 0;
          top: 10px;
        }

        @include respond-to-min($screen-sm) {
          line-height: 26px;
          padding-left: 20px;

          &::before {
            left: 6px;
          }
        }

        @include respond-to-min($screen-lg) {
          font-size: 16px;
          padding-left: 24px;
          margin-bottom: 1px;

          &::before {
            left: 8px;
          }
        }
      }
    }

    &__image {
      border-radius: 100%;
      overflow: hidden;
      width: 100px;
      height: 100px;
      margin-right: 20px;

      img {
        display: block;
        width: 100%;
      }

      @include respond-to-min($screen-lg) {
        width: 132px;
        height: 132px;
        margin-right: 38px;
      }
    }

    &__name {
      font-family: 'Craftwork Grotesk', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.02em;
      color: #111;
      margin-bottom: 8px;

      @include respond-to-min($screen-lg) {
        font-size: 21px;
        line-height: 25px;
      }
    }

    &__post {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.04em;
      color: rgba(0, 0, 0, .5);
      margin-bottom: 12px;

      @include respond-to-min($screen-lg) {
        font-size: 17px;
        line-height: 23px;
        letter-spacing: -0.04em;
        margin-bottom: 20px;
      }
    }

    &__footer {
      @include respond-to-min($screen-sm) {
        text-align: right;
      }
    }

    &__description {
      letter-spacing: -0.04em;
      color: rgba(0, 0, 0, .5);
      border-top: 1px solid rgba(0, 0, 0, .1);
      font-size: 14px;
      line-height: 21px;
      padding: 12px 0 16px;

      @include respond-to-min($screen-lg) {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.04em;
        padding-top: 20px;
      }
    }

    @include respond-to-min($screen-lg) {
      margin-bottom: 16px;
    }
  }

  @include respond-to-min($screen-sm) {
    padding: 80px 0 60px;
  }

  @include respond-to-min($screen-lg) {
    padding: 120px 0;
  }
}
