//
// Base
// --------------------------------------------------

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  overflow-x: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    content: 'mobile';

    @include respond-to-min($screen-sm) {
      content: 'desktop';
    }
  }
}

.page {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.content {
  padding-top: 96px;
  flex: 1 0 auto;
}

.waypoint {
  //height: 2000px;
  //border: 1px solid #000;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 100%;
  width: $screen-xs;

  @include respond-to-min($screen-sm) {
    width: $screen-sm;
  }

  @include respond-to-min($screen-lg) {
    width: $screen-lg;
    padding: 0 15px;
  }
}

/* width */

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */

::-webkit-scrollbar-track {
  background: #a4a4a4;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #231f20;
  transition: 0.2s;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #161616;
}
