<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Home</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
<div class="page">
    <%= require('html-loader!../blocks/header.html') %>

    <main class="content">
        <div id="about" class="waypoint">
            <%= require('html-loader!../blocks/about.html') %>
        </div>

        <div id="service" class="waypoint">
            <%= require('html-loader!../blocks/service.html') %>
        </div>
        <div id="portfolio" class="waypoint">
            <div class="container"></div>
        </div>
        <div id="team" class="waypoint">
            <div class="container"></div>
        </div>
        <div id="price" class="waypoint">
            <div class="container"></div>
        </div>
        <div id="contacts" class="waypoint">
            <div class="container"></div>
        </div>
    </main>

    <%= require('html-loader!../blocks/footer.html') %>
</div>

</body>

</html>
